html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    //overflow: auto;
    background: #E5E5E5;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: #F3F7FA;
    margin-left: 275px;
    margin-right: 275px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 95%;
    min-width: 0px;
    max-width: 960px;
    border: black 2px;
}

.header {
    margin: 20px 20px 10px 20px;
    padding: 10px 10px 0 10px;
    text-align: center;
    }

.main {
    display: flex;
    justify-content: center;
    margin: 0 10px 10px 10px;
    font-family: 'Open Sans', sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border:solid silver 1px;
    border-radius: 4px;
    box-shadow: 0 0 5px silver;
    padding: 10px;
    background: #FFFFFF;
    position: relative;
    height: 220px;
}

.content {
    margin-left: 20px;
}

.transfer {
    padding: 10px;
    cursor: url("./Cursor.png"), auto;
}

.transfer:hover {
    background: #F1FCFF;
}

.tabs {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.tabs_btn {
    padding: 15px;
    margin: 0;
    flex: 1;
    border: 1px solid #2F80ED;
    background: #FFFFFF;
    color: #4A4A4A;
    font-family: 'Open Sans', sans-serif;
}

.tabs_btn:first-child {
    border-radius: 4px 0 0 4px;
    border-right: 0;
}

.tabs_btn:last-child {
    border-radius: 0 4px 4px 0;
    border-left: 0;
}

.tabs_btn:focus {
    background: #2196F3;
    color: #FFFFFF;
}

.cost {
    color: #2F80ED;
    font-size: 24px;
    font-weight: bold;
}

.ticketcard {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 464px;
    height: 144px;
    border:solid silver 1px;
    border-radius: 4px;
    box-shadow: 0 0 5px silver;
    margin: 20px 0 20px 0;
    padding: 20px;
}

.ticketcard_header {
    display: flex;
    justify-content: space-between;
    height: 36px;
}

.tabs_add {
    padding: 15px;
    width: 502px;
    margin: 0;
    background: #2196F3;
    color: #FFFFFF;
    border: 1px solid #2F80ED;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
}

.content-string {
    display: flex;
    gap: 20px;
    height: 40px;
    margin: 10px 0 20px 0;
    justify-content: space-between;
}

.content-item {
    width: 140px;
}

.content-item span:first-child {
    color: #A0B0B9;
}

.content-item span:last-child {
    color: #4A4A4A;
    ;
}

.content-item span * {
    font-size: 12px;
}

@media(min-width: 320px) and (max-width: 640px) {
    /*html, body, .wrapper {
        width: 100%;
    }*/

    .wrapper {
        margin: 0;
        width: 100%;
    }

    .main {
        flex-direction: column;
    }

    .sidebar {
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .ticketcard {
        width: 100%;
    }
}