.sidebar {
    display: flex;
    flex-direction: column;
    border:solid silver 1px;
    border-radius: 4px;
    box-shadow: 0 0 5px silver;
    padding: 10px;
    background: #FFFFFF;
}

.content {
    margin-left: 20px;
}

.transfer {
    padding: 10px;
    cursor: pointer;
}

.transfer:hover {
    background: #F1FCFF;
}

.tabs {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}



