.sidebar {
    display: flex;
    flex-direction: column;
    border:solid silver 1px;
    border-radius: 4px;
    box-shadow: 0 0 5px silver;
    padding: 10px;
    background: #FFFFFF;
}

.content {
    margin-left: 20px;
}

.transfer {
    padding: 10px;
    cursor: url("./Cursor.png"), auto;
}

.transfer:hover {
    background: #F1FCFF;
}

.tabs {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.tabs_btn {
    padding: 15px;
    margin: 0;
    flex: 1;
    border: 1px solid #2F80ED;
    background: #FFFFFF;
    color: #4A4A4A;
    font-family: 'Open Sans', sans-serif;
}

.tabs_btn:first-child {
    border-radius: 4px 0 0 4px;
    border-right: 0;
}

.tabs_btn:last-child {
    border-radius: 0 4px 4px 0;
    border-left: 0;
}

.tabs_btn:focus {
    background: #2196F3;
    color: #FFFFFF;
}